@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
}

.box {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 50px;
    margin: auto;
    background-color: skyblue;

}

.msg {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    border-radius: 8px;
    padding: 10px;
    height: 250px;
    margin: auto;
    scroll-behavior: smooth;

}

.input {
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
}

.input button {
    border: none;
    outline: none;
    background-color: skyblue;
}

.input button:focus {
    border: none;
    outline: none;
}

.input input {
    border: 20px;
    height: 20px;
}

.input input:focus {
    outline: none;
}

.logo {
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px;
    margin: auto;
    
}

#m {
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: lightgreen;
    padding: 4px;
    margin: auto;
    list-style: none;
    float: right;
    clear: both;
    width: fit-content;
    cursor: default;
}

#m:not(:first-child) {
    margin-top: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.scroll-button {
    position: absolute;
    z-index: 1;
    display: none;
    outline: none;
    background-color: grey;
    width: 25px;
    height: 25px;
    padding: 0px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    border: none;
    /* Initially hide the button */
}

.scroll-button:focus {
    outline: none;
    border: none;

}
.top {
    display: flex;
}

.logousr {
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 5px;
    margin: auto;
}
.user {
    display: flex;
}
.input input {
    border-radius: 5px;
}





 .custom-context-menu {
     position: absolute;
     text-align: center;
     background: white;
     border-radius: 10px;
 }

 .custom-context-menu ul {
     padding: 0px;
     margin: 0px;
     min-width: 150px;
     list-style: none;
 }

 .custom-context-menu ul li {
     padding-bottom: 7px;
     padding-top: 7px;
     cursor: pointer;
 }