* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.mainn {
  display: flex;
  align-items: center;
  font-size: 20px;
  float: right;
  margin-right: 10px;
}
.nav img {
  height: 60px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 50px;
}
.nav {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #10e971;
  border-radius: 10px;
  color: black;
  box-shadow: 0 5px 20px rgb(252, 252, 252);
  width: 100%;
}
.adddealer {
  display: flex;
  align-items: center;
  border: 1px solid #10e971;
  margin-right: 20px;
}
.adddealer:hover {
  border: 1px solid #13db6d;
  border-radius: 10px;
  background-color: #13db6d;
  cursor: default;
}
.addproduct {
  margin-right: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #10e971;
}
.addproduct:hover {
  border: 1px solid #13db6d;
  border-radius: 10px;
  background-color: #13db6d;
  cursor: default;
}
.search input {
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  width: 100%;
}
.search input::placeholder {
  color: #000;
}
body {
  background-color: black;
}
.loan {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border: 1px solid #10e971;
}
.loan:hover {
  border: 1px solid #13db6d;
  border-radius: 10px;
  background-color: #13db6d;
  cursor: default;
}
.button:focus {
  border: none;
  outline: none;
}
.button {
  border: none;
  background-color: #10e971;
  height: 45px;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.button:hover {
  background-color: #13db6d;
}
.image {
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
}
.bill {
  z-index: 1;
}
.addbill {
  top: 15px;
  right: 35px;
  color: black;
  font-size: 30px;
}




.sortable-list {
  padding: 25px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: #fff;
  border-radius: 7px;
  padding: 30px 25px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border-radius: 10px;
  border: 1px solid #13db6d;
  display: flex;
  justify-content: space-between;
  margin-left: 3px;
  margin-right: 3px;
}

.active,
.accordion:hover {
  background-color: #13db6d;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
}

.panel {
  padding: 0 18px;
  background-color: #13db6d;
  color: rgb(0, 0, 0);
  max-height: 0;
  font-size: 25px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 8px 3px;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
}
#s {
  cursor: pointer;
}


.a {
  background-color: white;
  color: #444;
  padding: 18px;
  margin-bottom: 3px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #13db6d;
  display: flex;
  justify-content: space-between;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #13db6d;
}
.accordion div a {
  color: #444;
}


.product {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border: 1px solid #10e971;
}
.product:hover {
  border: 1px solid #13db6d;
  border-radius: 10px;
  background-color: #13db6d;
  cursor: default;
}
.product icon-icon {
  color:black;
}
.sortable-product {
  padding: 25px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: #fff;
  border-radius: 7px;
  padding: 30px 25px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.st {
  background-color: white;
  color: #444;
  padding: 18px;
  margin-bottom: 3px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #13db6d;
  display: flex;
  justify-content: space-between;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #13db6d;
}
.head2 {
  display: flex;
  justify-content: space-between;
}
.debit {
  margin-left: 4px;
}
.filterDiv {
  display: none;
}

.show {
  display: block;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 5px 6px;
  background-color: #f1f1f1;
  cursor: pointer;
  box-shadow: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ddd;
}

.btn:focus {
  background-color: #666;
  color: white;
  box-shadow: none;
}
.recipt {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
